<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>Product Show Page</title>
    </head>
    <body>
        <h1><%=product.name; %></h1>
        <p><b>Description:</b> <%= product.description %></p>
        <p><b>Specs:</b> <%= product.specs %></p> 
        
        <a href="/products/<%=product._id %>/edit">Edit Product</a>
        <form action="/products/<%=product._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
        <br>
        <nav>
            <a href="/products">Back to Home Page</a>
        </nav>
    </body>
</html>