<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/style.css">
		<title>AnthropoMorpheus Coming Soon</title>
	</head>


	<body>
<%- include ('./partials/header.ejs') %>

	<div id="products">
		<ul>
            <% for(let i=0; i < products.length; i++) { %>
                <li>

                    <a href="/products/<%=products[i].id; %>">
                       <h2><%=products[i].category; %></h2>
					   <video id="categories" width="500px" height="250px" autoplay loop muted>
						<source src="<%=products[i].img; %>" type="video/mp4" />
					</video>
					</a>

				</li>
					<br>

			<% } %>
		</ul>
	</div>
	<br>

		<%- include ('./partials/footer.ejs') %>

	<br>
	<br>	
	<br>
	<br>	
	<div id="new">
		<a href="/products/new">Add Product</a>
	</div>
	</body>


</html>




