<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/style.css">
		<title>AnthropoMorpheus Coming Soon</title>
	</head>


	<body>
<%- include ('./partials/header.ejs') %>

	<div id="products">
		<ul>
            <% for(let i=0; i < products.length; i++) { %>
                <li>
					

                    <a href="/products/<%=products[i].id; %>">
                       <h3><%=products[i].name; %></h3>
					   <img src="<%=products[i].img; %>">
				</a>
				</li>
					<br>

			<% } %>
		</ul>
	</div>
	<br>
	<div id="new">
	<a href="/products/new">Add Product</a>
</div>
	<br>

		
	<%- include ('./partials/footer.ejs') %>
		
	
	</body>


</html>




